{% extends 'core/base.html' %}

{% block content %} 
<div class="mt-5">
    <h1 class="text-warning mb-5 ms-5 border-bottom">SERVICES</h1>
    <div class="row text-center text-white">
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass-dollar fa-4x mb-3 i-color"></i>
            <h3>Python</h3>
            <p class="tt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis excepturi nam quae, odio quam vero.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error repellat eum aliquid at repudiandae dolorum.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass-dollar fa-4x mb-3 i-color"></i>
            <h3>Python</h3>
            <p class="tt">Lorem ipsum dolor sit amet consectet. Neque assumenda, vel aspernatur sint libero nihil!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error repellat eum aliquid at repudiandae dolorum.</p>
        </div>
        <div class="col-sm-4 ">
            <i class="fa-solid fa-magnifying-glass-dollar fa-4x mb-3 i-color"></i>
            <h3>Python</h3>
            <p class="tt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, ut nobis nostrum perspiciatis voluptatum repellat?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error repellat eum aliquid at repudiandae dolorum.</p>
        </div>
        <div class="col-sm-4 mt-5">
            <i class="fa-solid fa-magnifying-glass-dollar fa-4x mb-3 i-color"></i>
            <h3>Python</h3>
            <p class="tt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem placeat maxime temporibus ab rerum perferendis.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error repellat eum aliquid at repudiandae dolorum.</p>
        </div>
        <div class="col-sm-4 mt-5">
            <i class="fa-solid fa-magnifying-glass-dollar fa-4x mb-3 i-color"></i>
            <h3>Python</h3>
            <p class="tt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error repellat eum aliquid at repudiandae dolorum.</p>
        </div>
        <div class="col-sm-4 mt-5">
            <i class="fa-solid fa-magnifying-glass-dollar fa-4x mb-3 i-color"></i>
            <h3>Python</h3>
            <p class="tt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error repellat eum aliquid at repudiandae dolorum.</p>
        </div>
        <div class="col-sm-4 mt-5">
            <i class="fa-solid fa-magnifying-glass-dollar fa-4x mb-3 i-color"></i>
            <h3>Python</h3>
            <p class="tt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error repellat eum aliquid at repudiandae dolorum.</p>
        </div>
        <div class="col-sm-4 mt-5">
            <i class="fa-solid fa-magnifying-glass-dollar fa-4x mb-3 i-color"></i>
            <h3>Python</h3>
            <p class="tt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error repellat eum aliquid at repudiandae dolorum.</p>
        </div>
        <div class="col-sm-4 mt-5">
            <i class="fa-solid fa-magnifying-glass-dollar fa-4x mb-3 i-color"></i>
            <h3>Python</h3>
            <p class="tt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error repellat eum aliquid at repudiandae dolorum.</p>
        </div>
    </div>   
</div>
{% endblock content %}